<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <% if @user.profile_image.attached? %>
    <image src="<%= (url_for(@user.profile_image))%>">
  <% end %>
</p>